iframe{
width: 100%;
border-radius: 5px;
}

div#kapcsolat{
  background-color: #555;
  padding: 5px 5px 5px 5px;
  border-radius: 15px;
  width: 300px;
  color: white;
  margin-bottom:20px ;
}

div#kapcsolat h2{
  text-align: center;
}

div#kapcsolat p{
  text-align: center;
}